{% extends 'base_subpage.html' %}

{% block title %}Blog{% endblock %}
{% block og_type %}blog{% endblock %}
{% block itemtype %}Blog{% endblock %}
{% block itemprop_name %}Blog{% endblock %}

{% block appendCSS %}
{{ block.super }}
{% endblock %}

{% block page_id %}blog{% endblock %}

{% block appendJS %}
{{ block.super }}
{% endblock %}


{% block sub_right %}
	<h3>Featured Posts</h3>
	<div class="content">
		<ul class="featured_posts">
		{% for post in featured %}
			<li class="featured_post"><a href="/blog/{{ post.pk }}">{{ post.title }}</a></li>
		{% endfor %}
		</ul>
	</div>
	
	
	<h3>Categories</h3>
	<div class="content">
		<ul>
		{% for category in categories %}
			<li>{{ category.link|safe }}</li>
		{% endfor %}
		</ul>
	</div>
	
	<div class="content">
		{{ tag_cloud|safe }}
	</div>
{% endblock %}
