{% extends 'portfolio/templates/base.html' %}


{% block content %}
<div class="generic_content">
	<h1>IBD Administration</h1>
	<h3>Portfolio Administration</h3>
	<p><a href="/profile/edit">Edit Profile</a></p>
	<p><a href="/profile/edit">Edit About</a></p>
	<p><a href="/profile/edit">Manage Projects</a></p>
	
	<h3>Blog Administration</h3>
	<p><a href="/blog/create">Create Post</a></p>
	<p><a href="/blog/manage">Manage Posts</a></p>
	<p><a href="/image/upload">Upload Image</a></p>
	<p><a href="/blog/manage">Manage Tags and Categories</a></p>
</div>

{% endblock %}
