{% extends 'portfolio/templates/base.html' %}

{% block appendCSS %}
{% endblock %}

{% block appendJS %}
{% endblock %}

{% block banner %}
{% endblock %}

{% block content %}
<div id="sub_content">
            <div id="sub_content_left">
                {% block sub_left %}
                {% endblock %}
            </div>
            <div id="sub_content_right">
                {% block sub_right %}
                {% endblock %}
            </div>
           
        </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
	$('document').ready(function(){
		$('a.fancy').fancybox();
	});
</script>
{% endblock %}