{% extends 'portfolio/templates/base.html' %}

{% block appendCSS %}
{% endblock %}

{% block appendJS %}
{% endblock %}

{% block banner %}
    <div{% if page_id == "home" %} id="layout_bannerShading"{% endif %}>
     			<div id="layout_belowTitle">
			<div id="layout_belowNav">
				<img id="navigation_selector" src="/static/images/selector_red.png" width="12px" height="6px" class="selector_{% if page_id %}{{ page_id }}{% else %}home{% endif %}" alt="" />
			</div>
			<div id="layout_sepBelow"></div>
		</div>
		<div id="layout_innerContent">
            {% block sub_left %}
            {% endblock %}
            {% block sub_right %}
            {% endblock %}
       	</div>
   </div>
{% endblock %}


{% block js %}
{% endblock %}