<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html itemscope itemtype="http://schema.org/{% block itemtype %}WebPage{% endblock %}">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<title>{% block title %}Home{% endblock %} | Kelly Smith</title>

	<meta name="description" content="{% block main_description %}Hello, and welcome to my personal website.  I am a 21 year old computer science and math dual major studying at the University of Slippery Rock in Pennsylvania.  
	My interests include: hiking, mountaineering, traveling, gaming, photography, open source, web design and development, rapid prototyping, user experience design, 
	and software engineering.{% endblock %}" />
	
	<meta property="og:title" content="{% block og_title %}Home{% endblock %} | Kelly Smith" />
	<meta property="og:type" content="{% block og_type %}website{% endblock %}"/>
	<meta property="og:url" content="{% block og_url %}http://www.kelly-smith.me{{request.get_full_path}}{% endblock %}"/>
	<meta property="og:description" content="{% block og_description %}A personal portfolio and blog for Kelly Smith.{% endblock %}" />
	<meta property="og:image" content="{% block og_image %}http://lh4.ggpht.com/YKdYpsV2e9htKUHQ5oCYtXnsjZoqEQ9h5C1H0j1DDjvOaCtxwWGRh93ZLJVClygT3WTjgb-EunMxCSLF9yGiptt2RA{% endblock %}"/>
	<meta property="fb:admins" content="1320511353"/>
	<meta property="fb:app_id" content="434092496657295" />
	
	<meta itemprop="name" content="{% block itemprop_name %}Home{% endblock %} | Kelly Smith">
	<meta itemprop="description" content="{% block itemprop_description %}A personal portfolio and blog for Kelly Smith.{% endblock %}">
	
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css" />
	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/redmond/jquery-ui.css" />
	<link rel="stylesheet" href="/static/styles/global.css" />
	<style>
	{% block appendCSS %}
	{% endblock %}
	</style>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>
	
	<!-- appendJS -->
	{% block appendJS %}
	{% endblock %}
	
	<script>
		var a=a||[];a.push(["_setAccount","UA-35729396-1"]);a.push(["_trackPageview"]);var b=document.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var c=document.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);
	</script>
	</head>
<body>
	<!-- Facebook Javascript API -->
	<div id="fb-root"></div>
         {% if DEBUG %}
        	<div style="background-color: #FFFFFF; color: #000000;">
        		Profile: {{ profiles }}
        	</div>
        {% endif %}
        <div id="layout_top">
			<div id="layout_title">
				<div id="layout_titleLeft">
					<img src="/static/images/title_bullet.png" width="11px" height="11px" />
					<h1><a href="/">Kelly Smith</a></h1>
					<span>Web Engineer, Researcher, World Travler</span>
				</div>
				<div id="layout_titleRight">
					<nav>
						<ul class="layout">
							<li id="navigation_selector_home"><a id="navigation_selector_home" href="/">Home</a></li>
							<li style="width: 80px;"><a id="navigation_selector_about" href="/about/">About</a></li>
							<li style="width: 125px;"><a id="navigation_selector_portfolio" href="/project/list/">Portfolio</a></li>
							<li style="width: 50px;"><a id="navigation_selector_blog" href="/blog/">Blog</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
        <div id="layout_middle">
        	<div id="layout_contentContainer"><div id="layout_contentContainer1"><div id="layout_contentContainer2"><div id="layout_contentContainer3">
        		<div id="layout_background" style="min-height: 700px">
        			<div id="layout_contentBackground" {% block banner_style %}{% endblock %}>
        			{% block banner %}
	        			<div{% if page_id == "home" %} id="layout_bannerShading"{% endif %}>
		        			<div id="layout_belowTitle">
								<div id="layout_belowNav">
									<img id="navigation_selector" src="/static/images/selector_red.png" width="12px" height="6px" class="selector_{% if page_id %}{{ page_id }}{% else %}home{% endif %}" alt="" />
								</div>
								<div id="layout_sepBelow"></div>
							</div>
							<div id="layout_bannerContent">
								{% block banner_content %}
								<article>
			        				<h1><a href="http://www.kelly-smith.me/blog/64048/">Illumination Rock on Mt Hood</a></h1>
			        				<div><span>Monday, September 1, 2012</span></div>
			        				<p><a href="http://www.kelly-smith.me/blog/64048/" style="color: #DDDDDD;">A friend and I climbed up the Palmer snowfield on Mt Hood reaching an elevation of about 9500 feet at Illumination Rock overlooking the Willamette Valley.</a></p>
		        				</article>
		        				{% endblock %}
		        			</div>
							<div id="layout_innerContent">
					        	{% block content %}
					        	{% endblock %}
				        	</div>
			        	</div>
			        {% endblock %}
			        </div>
		        </div>
	        </div></div></div></div>
        </div>
        <div id="layout_bottom">
        	<div id="layout_bottomContainer">
        		<div id="layout_bottomLeft">
        			<a target="_blank" href="http://www.facebook.com/sovcn"><img src="/static/images/icon_facebook.png" alt="Facebook" width="25px" height="24px" /></a>
        			<a target="_blank" href="http://www.linkedin.com/pub/kelly-smith/18/4a/402"><img src="/static/images/icon_linkedIn.png" alt="LinkedIn" width="25px" height="24px" /></a>
        		</div>
        		<div id="layout_bottomRight">
        			<nav>
        				<ul class="layout" id="navigation_bottom_{% if page_id %}{{ page_id }}{% else %}home{% endif %}">
        					<li><a id="navigation_bottom_linkBlog" href="/blog/">Blog</a></li>
        					<li style="width: 80px;"><a id="navigation_bottom_linkPortfolio" href="/project/list/">Portfolio</a></li>
        					<li><a id="navigation_bottom_linkAbout" href="/about/">About</a></li>
        					<li><a id="navigation_bottom_linkHome" href="/">Home</a></li>
        				</ul>
        			</nav>
        			<div>
        				Copyright <span>Kelly Smith</span> 2012
        			</div>
        		</div>
        	</div>
        </div>
     <script type="text/javascript" src="/static/js/paradigm.js"></script>
     <script>
	     // Facebook and Google Code.
	    (function(a,b,c){var d=a.getElementsByTagName(b)[0];a.getElementById(c)||(a=a.createElement(b),a.id=c,a.src="//connect.facebook.net/en_US/all.js#xfbml=1&appId=114060846889",d.parentNode.insertBefore(a,d))})(document,"script","facebook-jssdk");(function(){var a=document.createElement("script");a.type="text/javascript";a.async=!0;a.src="https://apis.google.com/js/plusone.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)})();

		// Initialize title with filter animation
		$(document).ready(function(){
			var filter = new paradigm.Filter("navigation_selector", {% if page_id %}'{{ page_id }}'{% else %}'home'{% endif %}, {
				'home': 35,
				'about': 119,
				'portfolio': 219,
				'blog': 310
			});
			filter.initSelector('home', false, function(){
				console.log('selected 1');
			});
			filter.initSelector('about', false, function(){
				console.log('selected 2');
			});
			filter.initSelector('portfolio', false, function(){
				console.log('selected 3');
			});
			filter.initSelector('blog', false, function(){
				console.log('selected 4');
			});
		});

    {% block js %}
    {% endblock %}
    </script>
</body>
</html>