{% extends 'portfolio/templates/projects.html' %}

{% block sub_right %}
<h2>Research</h2>
	  <p>
	  	To the left you will see a list of all of the research projects that I have worked on since entering college
	  	in 2009.
	  </p>
        
        <p>
        I have strong research
		interests in robotics, automated parallelism, artificial intelligence, and web technologies.
        Combined, as of October 2012, my research has produced four conference presentations 
        (3 national and 1 regional) as well as a local research symposium presentation.
        </p>
        
        <p>
        In March of 2012, my project titled: <a href="/project/pics/">Platform Independent Cloud Scripting</a> received
        <strong>first</strong> place at the 2012 SIGCSE International Student Research Competition during their <a target="_blank" href="http://www.sigcse.org/">annual conference</a>.
        </p>
{% endblock %}