{% extends 'portfolio/templates/projects.html' %}

{% block sub_right %}
<h2>Design</h2>
	   <p>
	   When I was a freshmen in high school I started teaching myself Photosohp so that I could compete in weekly graphics design competitions in my 
	   gaming community (we called them clans). As I became more and more proficient with Photoshop, I found that it lended itself 
	   extremely well to web design and development.
        </p>
        
        <p>
       	I soon began designing web pages for people within the gaming community and eventually started to make my own.  Some of my first designs were used in the early
       	stages of my first real web project: <a href="/project/scm/">Sovereign Clan Manager</a>.  Since then I have created designs for many other websites, several of which
       	are featured here in my portfolio.
        </p>
{% endblock %}