{% extends 'portfolio/templates/projects.html' %}

{% block appendJS %}
{{ block.super }}
<script type="text/javascript">current_page_hover = "nav_research";</script>
{% endblock %}

{% block sub_right %}
<div class="services_top">
    <span>{{ page_title }}</span>
	<p class="quote">{{ page_description }}</p>
</div>

<div class="generic_content">
	   <p>Starting in 2009 in my first year at university I began working on a resarch project
	   titled <a href="/project/sudoku">Solving Sudoku Puzzles: Optimization through heuristics</a>.
	   Since then I have worked on two additional projects: 
	   <a href="/project/mandelbrot">Arbitrary Precision Fractals on CUDA</a> and <a href="/project/pics">
	   PICS: Platform Independent Cloud Scripting</a>.  Click on each of the projects below for more information.
        </p>
        
        <p>
        I also have strong research
		interests in robotics, automated parallelism, artificial intelligence, and web technologies.
        Combined, as of February 29, 2012, my research will have produced three conference presentations 
        (2 national and 1 regional) as well as a local research symposium presentation.
        </p>
</div>


<div class="hr"></div>


<div class="generic_content">
Below is a list of all my major research projects.
</div>	
	{% for project in projects %}
		{{ project }}
	{% endfor %}

{% endblock %}