{% extends 'portfolio/templates/base_subpage.html' %}

{% block og_type %}article{% endblock %}
{% block itemtype %}Article{% endblock %}

{% block og_title %}{{project.title}}{% endblock %}
{% block title %}{{project.title}}{% endblock %}
{% block itemprop_name %}{{project.title}}{% endblock %}


{% block og_description %}{{project.description|safe}}{% endblock %}
{% block itemprop_description %}{{project.description|safe}}{% endblock %}

{% block og_image %}http://www.innobdesign.com/static/images/projects/{{ project.slug }}/image_med.jpg{% endblock %}

{% block page_id %}portfolio{% endblock %}

{% block appendCSS %}
	{{ block.super }}
	
	div.content_rightContainer h2.three_quarters{
		display: block;
		margin-right: 0;
		width: 69%;
		float: left;	
		margin-bottom: 0;
	}
	div.content_rightContainer span.one_quarter{
		margin: 3%;
		display: block;
		margin-left: 0;
		width: 25%;
		float: right;
		color: #c1c1c1;
		text-align: right;
		margin-bottom: 0;
	}
	
{% endblock %}

{% block sub_left %}
{{ project.post }}
{% endblock %}