{% extends 'portfolio/templates/projects.html' %}

{% block sub_right %}
<h2>Programming</h2>
<div class="content">I specialize in <strong>cross-platform development</strong> and have experience working with many of the most popular programming technologies.
    <ul>
            <li>Java</li>
            <li>PHP/MySQL web development</li>
            <li>jQuery and Dojo JavaScript frameworks</li>
            <li>iPhone/Mac applications (Objective-C)</li>
            <li>Python Django/Django-nonrel</li>
            <li>HTML/CSS</li>
       </ul>
</div>
        
 <div class="content">My primary focus is on web technologies, however I have experience working with a variety of different platforms.
	<ul>
            <li>Linux/OSX/Windows</li>
            <li>Android</li>
            <li>iOS</li>
            <li>Google Appengine</li>
            <li>LAMP</li>
        </ul>
</div>
        

       <div class="content">Additionally, I have done small educational projects using the following technologies. 
        <ul>
            <li>OpenGL/Direct3D</li>
            <li>MIPS Assembly</li>
            <li>OpenMP</li>
            <li>Nvidia CUDA</li>
            <li>MPI</li>
        </ul>
        </div>

{% endblock %}