{% extends 'portfolio/templates/projects.html' %}

{% block sub_right %}
<div class="services_top">
    <span>{{ page_title }}</span>
	<p class="quote">{{ page_description }}</p>
</div>

<div class="generic_content">
	   <div>I specialize in <strong>cross-platform development</strong> and have experience working with many of the most popular programming technologies.
    <ul>
            <li>Java</li>
            <li>PHP/MySQL web development</li>
            <li>jQuery and Dojo JavaScript frameworks</li>
            <li>iPhone/Mac applications (Objective-C)</li>
            <li>Python Django/Django-nonrel</li>
            <li>HTML/CSS</li>
       </ul>
      </div>
        
       <div>My primary focus is on web technologies, however I have experience working with a variety of different platforms.
	<ul>
            <li>Linux/OSX/Windows</li>
            <li>Android</li>
            <li>iOS</li>
            <li>Google Appengine</li>
            <li>LAMP</li>
        </ul>
        </div>
        
        <div>
       Additionally, I have done small educational projects using the following technologies. 
        <ul>
            <li>OpenGL/Direct3D</li>
            <li>MIPS Assembly</li>
            <li>OpenMP</li>
            <li>Nvidia CUDA</li>
            <li>MPI</li>
        </ul>
        </div>
</div>


<div class="hr"></div>


<div class="generic_content">
Below is a list of all the major projects that I have worked on which involve programming.
</div>

	{% for project in projects %}
		{{ project }}
	{% endfor %}


{% endblock %}