{% extends 'portfolio/templates/base_subpage.html' %}

{% block title %}Portfolio{% endblock %}

{% block page_id %}portfolio{% endblock %}

{% block sub_right %}
	<h3>Hello</h3>
	<p>Welcome to my personal portfolio.  To the left you will find projects that I have worked on starting in 2007 as a sophomore in high school.</p>
	<p>
		<a href="/about/">Click here for more information about me and the work that I do.</a>
	</p>
{% endblock %}


{% block sub_left %}
	<div id="content_headerContainer" style="border: 0;">
		<h1>Portfolio</h1>
		<div class="filter_container">
			<nav>
				<a href="/project/list/" id="filter_selector_all" class="filter_item">All</a>
				<a href="/project/list/design/" id="filter_selector_design" class="filter_item">Design</a>
				<a href="/project/list/research/" id="filter_selector_research" class="filter_item">Research</a>
				<a href="/project/list/programming/" id="filter_selector_programming" class="filter_item">Programming</a>
			</nav>
			<div id="filter_selector" style="margin-left: {% block filter_selectorOffset %}20px{% endblock %};"><img src="/static/images/selector_blackSmall.png" alt="" width="8px" height="4px" /></div>
		</div>
	</div>
	
	<div id="portfolio_contentContainer">
	{% block portfolio_description %}{% endblock %}
	
	{% for project in projects %}
		{{ project.post.viewMinimal }}
	{% endfor %}
	</div>
	
{% endblock %}

{% block js %}
	var filter = new paradigm.Filter("filter_selector", '{{ filter_selected }}', {
		'all': 20,
		'design': 77,
		'research': 158,
		'programming': 260
	});
	filter.initSelector('all', false, function(){
		console.log('selected 1');
	});
	filter.initSelector('design', false, function(){
		console.log('selected 2');
	});
	filter.initSelector('research', false, function(){
		console.log('selected 3');
	});
	filter.initSelector('programming', false, function(){
		console.log('selected 3');
	});
{% endblock %}