<div class="sub_content"> 
	Simply put, <strong>ClaniT</strong> is a development platform built from the ground up to accommodate
	the creation of websites for gaming communities. It is still in development, however a lot of the 
	<strong>experimental technologies that truly make this project unique</strong> are already in place 
	and fully functional. 
</div> 
<div class="hr"></div> 
<div class="sub_content">
	Some of the notable features that have been implemented are: 
	<ul>
		<li>Zend Framework XML-RPC Implementation</li>
		<li>Open-Source Content Management System</li>
		<li>Central Web Service API - Data Management for CMS</li>
		<li>Fully Functional Theme Module</li>
		<li>jQuery Implementation which assists in PHP Exception Handling</li>
	</ul>
</div>
<div class="hr"></div>