<div class="sub_content"> 
	Innovation by Design is the website that you are currently browsing. It serves as
	my personal portfolio and blog. This project was originally constructed using PHP
	and the Zend Framework. It has since been ported using Django and the Django-nonrel framework
	to Google App Engine.
</div> 
<div class="hr"></div> 
<div class="sub_content">
	Some of the notable features that have been implemented are: 
	<ul>
		<li>Originally developed in PHP using Zend Framework</li>
		<li>Built on top of <a href="http://www.allbuttonspressed.com/projects/django-nonrel">Django-nonrel</a> on <a href="http://code.google.com/appengine/">Google App Engine</a></li>
		<li>Blog framework</li>
	</ul>
</div>
<div class="hr"></div>