{% extends 'blog/templates/post_view.html' %}

{% block post_content %}
<p>
	A complete write-up of this project can be viewed online: 
	<a href="http://granite.sru.edu/~kms3458/research/mandelbrot/mandelbrot.pdf">Arbitrary Precision Fractals on CUDA</a>
</p>
<p>	
	This project was done as the final project for CPSC 474: Computer Architecture.  Roughly 1/3 of this
	course was dedicated to learning about parallel architectures: two of which are used extensively in
	this project (CUDA and OpenMP).  This research was presented at Slippery Rock University's annual
	student research symposium.
</p>

<p>
	The primary focus of this research was to develop a method for generating Mandelbrot fractal images
	using both OpenMP and CUDA and to compare different aspects of their performance.  Additionally, a system
	for performing arbitrary precision calculations was developed and implemented on both parallel platforms.
</p>
{% endblock %}

{% block aside_content %}
{{ project.getAside|safe }}
{% endblock %}