
{% extends 'blog/templates/post_view.html' %}

{% block post_content %}
<h3>Abstract:</h3>
	<p>
	In recent years it has become well understood that Moore's promised exponential growth in 
	computational power can only continue if there is a shift in the fundamental design of 
	software to exploit parallelism.  Previous work has been done in minimizing the inherent 
	difficulties of parallel programming, however in the same way that scripting and high-level 
	languages represent a natural progression towards ease of development and platform independence, 
	so too does this research represent a progression from these other parallelization methods to a 
	Platform Independent Cloud Scripting (PICS) method.
	</p>
	
	<p>
	Simply put, PICS is a framework for spawning calculations to a heterogeneous, 
	platform-independent cloud of processing units. Utilizing the ubiquity of JavaScript 
	on nearly every platform, PICS adds several language constructs to the standard ECMAScript 
	specification [1] which allow for automated, parallel execution on the cloud.  An example of
	PICS syntax can be viewed here: <a href="http://granite.sru.edu/~kms3458">PICS Examples</a>.
	The language constructs currently added to JavaScript in this prototype are single, parallel, 
	and parallel for loops with automatic reductions.    
	</p>
	
	<p>
	So far, this research has created a web based parser, compiler, and datastore for processing 
	and distributing parallel code to a cloud of clients. Additionally, clients have been created
	 on the following platforms: Desktop (OSX, Linux, and Windows), Mobile(Android), and Web 
	 Browsers(Firefox, Chrome, Safari). Initial results have been encouraging, and PICS has 
	 proven to be effective in bringing parallel computing to untapped computing resources.
	</p>
	
	<p>
	[1] <a href="http://www.ecma-international.org/publications/standards/Ecma-262.htm">http://www.ecma-international.org/publications/standards/Ecma-262.htm</a>
	</p>
	
	<p>A presentation that I put together for this project can be viewed <a href="http://prezi.com/suxvlklxeqto/pics/">here</a>
{% endblock %}

{% block aside_content %}
{{ project.getAside|safe }}
{% endblock %}