<div class="sub_content"> 
	The purpose of this project has mostly been educational. I decided that I wanted to learn Java, 
	so I started building this clone of the popular children's video game, Pokemon. 
	I designed all of the graphic elements myself and implemented a MySQL backend for storing 
	user information over the internet. The ultimate goal of this project would be a 
	MMORPG (massively multiplayer online role playing game), however at the moment I lack 
	the man power and financial foundation to pull something like that off. 
	Consider it a work in progress.
</div> 
<div class="hr"></div> 
<div class="sub_content">
	Some of the notable features that have been implemented are: 
	<ul>
		<li>Custom user interface and graphic design</li>
		<li>Threaded animation timer and custom sprite animation module</li>
	</ul>
</div>
<div class="hr"></div>