{% extends 'blog/templates/post_view.html' %}

{% block post_content %}
<p>This project is currently a work in progress.  The goal is to create a 1-stop website
		for all things related to competitive Starcraft 2.  Right now, much of the foundation,
		user framework, and web design is finished, however I just don't have the time right now
		to see the rest of the project come to fruition. I will be looking for more time to finish
		what I've started, but for now I am content to use the <a href="http://www.allbuttonspressed.com/projects/django-nonrel">Django-nonrel</a> base that I have finished
		to deploy other smaller web apps on <a href="http://code.google.com/appengine/">Google App Engine</a>.
	</p>
{% endblock %}

{% block aside_content %}
{{ project.getAside|safe }}
{% endblock %}