{% extends 'portfolio/templates/projects/aside.html' %}

{% block aside_content %}
<div class="content">
	<ul>
		<li>Built a user authentication system from scratch using md5 hashing.  Later upgraded to SHA1 with salts.</li>
		<li>User management and security modules</li>
		<li>OOP design practices with an emphasis ease of development</li>
		<li>Customizable templating engine</li>
		<li>Extensive real world testing and improvements over the course of 2 years</li>
		<li>Released as an <a target="_blank" href="https://github.com/sovcn/Sovereign-Clan-Manager">open source project</a>.</li>
	</ul>
</div>
{% endblock %}