<div class="sub_content generic_content"> 
	<p>SRU Competitive Gaming Club is a small website that I designed and built for the university
	group that it's named after.  The website is currently live at 
	<a target="_blank" href="http://sru.sc2meta.com">http://sru.sc2meta.com</a>.  The development of this website
	was an extension of the previous work done for <a href="/project/sc2meta">Starcraft Metagame Central</a>
	and uses much of the same code base for user authentication, and sc2ranks informaiton.
	</p>
</div> 
<div class="hr"></div>