{% extends 'blog/templates/post_view.html' %}

{% block post_content %}
	<p>
		This project started out as a research project that I was working on for a class but has 
		quickly become more than that. Initially I had written a series of algorithms in C and 
		Objective-C on the iPhone that solve sudoku puzzles using "logical" methods similar to 
		those that a human would use. As the project progressed I decided that I wanted to make 
		it multi-platform so I modified a http server written in Objective-C and created an XML-RPC 
		web service to solve sudoku problems using the same code from the iPhone and serve them to 
		any platform. With that in place I wrote a simple development environment in PHP and MySQL 
		that can run a multitude of tests in an attempt to find more efficient ways of solving sudoku 
		puzzles.
	</p>
	<p>
		This research has since been presented at the regional CCSC 2010 Northeastern conference at
		the University of Hartford in West Hartford, CT.  It has also been presented at the 2010 NCHC
		(National Collegiate Honors Council) conference in Kansas City, Missouri.
	</p>

{% endblock %}

{% block aside_content %}
{{ project.getAside|safe }}
{% endblock %}