<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
  <head>
    <title>{% block title %}{% endblock %} - Starcraft Metagame Central</title>
    
    <link href="/static/styles/main.css" style="text/css" rel="stylesheet" />
    
    {% block css %}
    {% endblock %}
    
    {% if DEBUG %}
    	<script type="text/javascript" src="/static/js/jquery-uncompressed.js"></script>
    {% else %}
    	<script type="text/javascript" src="/static/js/jquery-compressed.js"></script>
    {% endif %}
    
    <script type="text/javascript" src="/static/js/template.js"></script>

    {% block preload_js %}
    {% endblock %}

    {% block extra-head %}{% endblock %}
    
    {% if not DEBUG %}
    	<script type="text/javascript">
		
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-24872620-1']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		
		</script>
    {% endif %}
  </head>

  <body style="background-color: #FFFFFF; margin: 0;">
    <div id="top_contain">
		<div id="header">
			<div id="header_left">
				<div id="nav">
					<a href="/">HOME</a>
					<a href="/content/about">ABOUT</a>
					<a href="/">STRATEGY</a>
					<a href="/">FORUMS</a>
					<a href="/">STATS</a>
					<a href="/">EVENTS</a>
				</div>
				<div id="login_bar">
					{% if user.is_authenticated %}
						Welcome, <a href="/profile">{{ user.username }}</a>. <a href="/accounts/logout">Logout</a>
					{% else %}
						Welcome, guest.  Please <a href="/accounts/login">Login</a> | <a href="/accounts/register">Register</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	   {% block content-header %}
          {% if error %}<div class="error">{{ error }}</div>{% endif %}
          {% if info %}<div class="info">{{ info }}</div>{% endif %}
          {% if messages %}
            {% for message in messages %}
              <div class="info">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endblock %}
		
		
		<div>
		{% block content %}{% endblock %}
		</div>

		    

    {% block js %}
    {% endblock %}
    <script type="text/javascript">
    	$(document).ready(function(){
    		
    	});
    </script>
  </body>
</html>
