{% extends 'base.html' %}
{% block title %}Coming Soon!{% endblock %}

{% block content %}
<!--<div style="width:100%; text-align: center;">
	<img src="static/images/Splash.jpg" />
</div>-->

<div class="fancy_content_box">
	<div class="header">featured build</div>
	<div class="content">
		{{ content }}
    </div>
    <div class="bottom"></div>
</div>

<div class="main_content_box">
	<div class="header">featured build</div>
	<div class="content">
		{{ sc2_stats }}
    </div>
    <div class="bottom"></div>
</div>

{% endblock %}
