div#sub_content_left{
    width: 212px;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border: 0;
}

div#sub_content_right{
    width: 650px;
    float: left;
    padding-left: 5px;
    margin-right: 10px;
    margin-left: 0px;
    border-left: 1px solid #b3b7c3;
}


div.generic_content p, div.generic_content ul, div.generic_content ul > li, div.generic_content table{
	margin: 0px;
	margin-top: 10px;
	font-size: 16px;
}

div.services_top{
	width: 650px;	
}

div.blog_content{
	font-size: 14px;
	line-height: 20px;
	color: #333333;	
}

div.blog_content img{
	padding-right: 15px;
}

div.blog_content div{
	margin: 0;
	padding: 0;
	margin-bottom: 10px;	
}

div.blog_content div.blog_title_left{
	width: 90px;
	float: left;
	margin-right: 0;
}

div.blog_content div.blog_title_right{
	width: 489px;
	float: left;
	margin-left: 0;
}

div.blog_content div.blog_title_right h2{
	margin-top: 0px;	
}

div.blog_content div span{
	color: #999999;	
}

img.blog_post_image{
	padding: 0px;
	padding-right: 0px;
}

span.blog_post_imageblock{
	display:inline-block;
	padding: 15px;
	border: 1px solid #CCCCCC;
	margin-top: 10px;
}
span.blog_post_imageblock p{
	color: #666666;	
}

div.admin_menu{
	text-align: left;
}

div.admin_menu a{
	display: block;
	height: 24px;
	padding-top: 5px;
	padding-left: 15px;
	color: #000000;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

div.admin_menu h2{
	margin-top: 10px;
	margin-left: 5px;
	margin-bottom: 5px;
}

a.admin_selected, a.admin_unselected:hover{
	background: #98C1ED;
}

a.admin_unselected{
	
}

span#cb_used_tags{
	display: inline-block;
}

span#cb_used_tags span.cb_tag_container{
	display: inline-block;
	padding: 5px;
	border: 1px solid #98C1ED;
}

span.cb_tag_container span{
	float: right;
	margin-top: 3px;
}

