#sub_content{
    background-color: #FFFFFF;
    width: 886px;
    margin-left: 6px;
    margin-top: 4px;
}

div#sub_content_left{
    width: 172px;
    float: left;
    border-right: 1px solid #b3b7c3;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

#sub_nav_links{
    width: 172px;
    height: 514px;
}

#sub_nav_links h2{
    font-size: 14px;
    color: #666666;
    text-align: center;
    margin: 0;
    margin-left: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#sub_nav_links a img{
    margin: auto;
    display: block;
    margin-bottom: 25px;
}


div#sub_content_right{
    width: 690px;
    float: right;
    margin-right: 10px;
}

.sub_content{
    padding: 10px 20px 10px 20px;
    color: #444444;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: .3px;
    
}

.sub_content strong{
    letter-spacing: .3px;
}

.sub_content ul{
    list-style: disc;
   margin-bottom: 10px;
   margin-left: 30px;
   margin-top: 10px;
}

.sub_content li{
	color: #222222;
    font-size: 16px;
    padding-top: 4px;
}

div.dims{
    display: none;
}

div.services_top span{
    display: block;
    float: right;
    width: 450px;
    margin-right: 20px;
    margin-top: 82px;
    text-align: right;
    font-size: 24px;
    letter-spacing: 5px;
    color: #757575;
}

div.project_top span{
    font-size: 18px;
    margin-top: 90px;
}

div.services_top p.quote{
    display: block;
    clear: both;
    color: #AAAAAA;
    padding-top: 13px;
    text-align: center;
    font-size: 12px;
    margin: auto;
    width: 650px;
}
div.services_top{
    width: 695px;
    height: 142px;
    background-image: url(../images/services_header_2.jpg);
    margin-top: 5px;
    text-align: center;
}



tr.odd td{
    background-color: #ecf1f9;
}

span.sub{
    font-size: 7px;
}

div.sub_project{
    margin-top: 15px;
    margin-bottom: 15px;
}

div.home_project{
    width: 392px;
    height: 389px;
    background-image: url(../images/home_project_back.png);
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-top: 15px;
    float: left;
}

div.home_project_pictures{
    width: 152px;
    float: left;
    margin-left: 10px;
    margin-top: 15px;
}

div.home_project_pictures img{
    display: block;
    margin-top: 5px;
    border: 1px solid #CCCCCC;
    padding-bottom: 1px;
    padding-top: 1px;
}

div.home_project_pictures img:hover{
   border: 2px solid #CCCCCC;
   padding-top: 0px;
   padding-bottom: 0px;
}

div.home_project span.project_type{
    display: block;
    color: #afafaf;
    font-family: Veranda,Arial,Helvetica,sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    margin-left: 13px;
    margin-top: 7px;
}

div.home_project span.project_title{
    display: block;
    color: #2e55a3;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    margin-left: 17px;
    margin-top: 7px;
}

div.home_project img.project_image{
    display: block;
    margin-left: 13px;
    margin-top: 10px;
}

div.project_info{
    margin-left: 21px;
    margin-top: 12px;
}

div.project_info div span.label{
    color: #8b8b8b;
    font-size: 12px;
}

div.project_info div span.content{
    color: #445b89;
    font-size: 12px;
}

div.contact div{
    font-size: 16px;
    margin-top: 5px;
    height: 18px;
}

div.contact div span{
    font-size: 18px;
    color: #2e55a3;
}
